<div class="fflex">
    <div>
        <sly-field title="Number of images per second"
                   description="Set number of images per second to create video">
            <el-slider
                    class="ml10 mr10"
                    style="width: 450px"
                    :min="1"
                    :max="240"
                    v-model="state.frameRate"
                    show-input
                    @change="state.frameRate = $event;">
            </el-slider>
        </sly-field>

        <div v-if="!state.allDatasets">
            <sly-select-dataset :project-id="context.projectId" :datasets.sync="state.selectedDatasets"
                                :options="{multiple: true}"></sly-select-dataset>
        </div>
        <div class="fflex align-start">
            <el-checkbox v-model="state.allDatasets" class="mt10 mr10"></el-checkbox>
            <sly-field class="mt20" title="All datasets"
                       description="Transform all datasets from project">
            </sly-field>
        </div>
    </div>
</div>
